{% extends 'base/main.html' %}
{% block content %}
<div class="box">

    <h1 class="credhead">Register</h1>
    <form class="registerform" action="" method="POST">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <label>{{form.username.label}}:</label>
        {{form.username}}
        <label>{{form.password1.label}}: <p class="min">*Min. 8 characters</p></label>
        {{form.password1}}
        <label>Confirm Password:</label>
        {{form.password2}}
        <input class="lr-btn" type="submit" value="Register">
    </form>
    <h3 class="account">Already have an account?<a class="lr" href="{% url 'login' %}">Login</a></h3>
</div>
{% endblock content %}
